<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<form action="urls" method="post">
	ENTER URL:
	<input type ="text" name="long_url">
	<input type="submit" value="Submit">
</form>form>

<h2><% Url.last.shortened_url if Url.last != nil %><h2>