<h1>Welcome to bit.url</h1>
<p>See Me in views/static/index.html.erb</p>

<form action="urls" method="post">
	ENTER URL:
	<input type ="text" name="long_url">
	<input type="submit" value="Submit">
</form>

<% if @messages != nil %>
	<% @messages.each do |message| %>
		<p style="color:red"><%= message %></p>
	<% end %>
<% end %>	

<h2><%=Url.last.shortened_url if Url.last != nil %></h2>

<table>
		<th>Shortened Url</th>
		<th>Click Count</th>
	</tr>
<% Url.all.each do |link| %>
		<td><%= link.shortened_url %></td>
		<td><%= link.click_count %></td>
	</tr>
<% end %>
</table>		

