
<h1 class="logo">minimal.ist</h1>

<div class="main-div">
	<h2> SHORTEN. SHARE. MEASURE.</h2>
	<p> Join minimal.ist, the world's leading link management platform.</p>
	<form action="urls" method="post">
		<input type ="text" name="long_url" placeholder="Paste a link to shorten it">
		<input type="submit" value="SHORTEN">
	</form>

	<% if @messages != nil %>
			<p class="message">Invalid Input</p>
	<% end %>	
</div>

<div class="shortenlink">
	<a href="<%=Url.last.shortened_url if Url.last != nil %>">
	<p>Your minimalist Link: <%=Url.last.shortened_url if Url.last != nil %></p></a>
</div>





